@import 'bulma/css/bulma.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slide {
  display: flex;
  justify-content: center;
  position: relative;
}

.image {
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
}
.arrow {
  position:absolute;
  border: solid grey;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 11px;
  cursor: pointer;
}

.right {
  top: 50%;
  left: 78px;
  transform: rotate(-223deg);
  -webkit-transform: rotate(-223deg);
}

.left {
  top: 50%;
  right: 78px;
  transform: rotate(314deg);
  -webkit-transform: rotate(314deg);
}
